#popup-overlay{
	visibility: hidden;
	width: 50%;
	height: 50%;
}
#popup-overlay.active{
	visibility: visible;

}
#popup-content {
  /*Hides pop-up content when there is no "active" class */
  visibility: hidden;
}

#popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility: visible;
}